<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-folder-heading" jhiTranslate="ccApp.folder.home.createOrEditLabel">Create or edit a Folder</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!folder.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="folder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ccApp.folder.folder" for="field_folder">Folder</label>
                    <input type="text" class="form-control" name="folder" id="field_folder"
                        [(ngModel)]="folder.folder" required/>
                    <div [hidden]="!(editForm.controls.folder?.dirty && editForm.controls.folder?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.folder?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ccApp.folder.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="folder.note" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ccApp.folder.alias" for="field_alias">Alias</label>
                    <select class="form-control" id="field_alias" name="alias" [(ngModel)]="folder.alias" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aliasOption.id === folder.alias?.id ? folder.alias : aliasOption" *ngFor="let aliasOption of aliases; trackBy: trackAliasById">{{aliasOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ccApp.folder.radio" for="field_radio">Radio</label>
                    <select class="form-control" id="field_radio" name="radio" [(ngModel)]="folder.radio" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="radioOption.id === folder.radio?.id ? folder.radio : radioOption" *ngFor="let radioOption of radios; trackBy: trackRadioById">{{radioOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
