<div>
    <h2 id="page-heading">
        <span jhiTranslate="ccApp.radio.home.title">Radios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-radio" [routerLink]="['/radio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ccApp.radio.home.createLabel">
            Create new Radio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="radios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ccApp.radio.folder">Folder</span></th>
            <th><span jhiTranslate="ccApp.radio.alias">Alias</span></th>
            <th><span jhiTranslate="ccApp.radio.ccg">Ccg</span></th>
            <th><span jhiTranslate="ccApp.radio.note">Note</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let radio of radios ;trackBy: trackId">
                <td><a [routerLink]="['/radio', radio.id, 'view' ]">{{radio.id}}</a></td>
                <td>{{radio.folder}}</td>
                <td>{{radio.alias}}</td>
                <td>{{radio.ccg}}</td>
                <td>{{radio.note}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/radio', radio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/radio', radio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'radio', { outlets: { popup: radio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
